.container {
  height: 200vh;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 500px;
}

.nav {
  background-color: rgb(5, 135, 135);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
/* categories menu */
.categories {
  display: none;
}

.main-menu-container {
  height: 340px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgb(147, 226, 173);
}
/* empty template + edit modal */

.empty-template {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: aquamarine;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}
.empty-template:hover {
  background-color: rgb(108, 223, 185);
}
.empty-template:active {
  background-color: rgb(84, 193, 157);
}
.spacer {
  height: 20px;
  width: 40px;
}
.btn-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-edit:hover > .svg path {
  fill: red;
}
/* edit modal */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
#editModal {
  display: none; /* none by default */
  position: absolute;
  z-index: 1;
  left: 50;
  top: 50;
  width: 90%;
  height: 90%;
  overflow: auto;
  border-radius: 10px;
  background-color: rgb(242, 175, 175, 93%); /* Fallback color */
}
#editModal.active {
  /* animation */
  animation-name: open;
  animation-duration: 0.4s;
}

@keyframes open {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

#editModal.closed {
  /* animation */
  animation-name: closed;
  animation-duration: 0.4s;
}
@keyframes closed {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

.modal-header {
  position: relative;
  height: 50px;
  background-color: #1351087b;
}

/* template main menu modal */
#mainMenuTemplate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

/* The Save Button */
.save {
  position: absolute;
  top: 0;
  right: 50px;
  color: #21f00a;
  float: right;
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

.save:hover,
.save:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #f70000;
  float: right;
  font-size: 40px;
  margin-right: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* categories template  */
#editModal-categories {
  display: none; /* none by default */
  position: absolute;
  z-index: 1;
  left: 50;
  top: 50;
  width: 90%;
  height: 90%;
  overflow: auto;
  border-radius: 10px;
  background-color: rgb(242, 175, 175, 93%); /* Fallback color */
}
#editModal-categories.active {
  /* animation */
  animation-name: open;
  animation-duration: 0.4s;
}

@keyframes open {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

#editModal-categories.closed {
  /* animation */
  animation-name: closed;
  animation-duration: 0.4s;
}
@keyframes closed {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0;
  }
}

.modal-header-categories {
  position: relative;
  height: 50px;
  background-color: #1351087b;
}

/* template main menu modal */
#mainMenuTemplate-categories {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

/* The Save Button */
.save-categories {
  position: absolute;
  top: 0;
  right: 50px;
  color: #21f00a;
  float: right;
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}

.save-categories:hover,
.save-categories:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-categories {
  position: absolute;
  top: 0;
  right: 0;
  color: #f70000;
  float: right;
  font-size: 40px;
  margin-right: 20px;
  font-weight: bold;
}

.close-categories:hover,
.close-categories:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/* categories */
.nav-categories {
  background-color: rgb(6, 168, 101);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.categories-container {
  height: 340px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgb(23, 112, 21);
}

/* categories footer */

.empty-template-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(199, 233, 7);
  cursor: pointer;
  border-radius: 0 0 10px 10px;
}
.empty-template-categories:hover {
  background-color: rgb(173, 202, 10);
}
.empty-template-categories:active {
  background-color: rgb(139, 161, 11);
}

.btn-edit-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-edit-categories:hover > .svg path {
  fill: red;
}

/* templates */
.templates {
  display: none;
}

.nav-templates {
  background-color: rgba(228, 63, 228, 0.575);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.templates-container {
  height: 340px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgb(18, 156, 241);
}

.empty-templates {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: rgb(206, 97, 30);
  border-radius: 0 0 10px 10px;
}

button {
  height: 50px;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-container-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-container-templates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  border: 1px solid grey;
  width: 49%;
  height: 50px;
  cursor: pointer;
  background-color: rgb(58, 215, 74);
}
.btn:hover {
  background-color: rgb(47, 185, 61);
}
.btn:active {
  background-color: rgb(40, 168, 53);
}

/* textarea */
#textarea {
  position: absolute;
  top: 90%;
  left: 30%;
}
#textAreaMainMenu:focus {
  outline: none;
  animation: glowing 4000ms infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px rgb(56, 55, 55);
  }
  40% {
    box-shadow: 0 0 20px rgb(56, 55, 55);
  }
  60% {
    box-shadow: 0 0 20px rgb(56, 55, 55);
  }
  100% {
    box-shadow: 0 0 5px rgb(56, 55, 55);
  }
}
